body{

    background-color: black;


}

h1{
    color: rgb(255, 255, 255);
    text-align: center;
}

h2{
    color: rgb(255, 255, 255);
    text-align: center;
}

p{

    color: white;

}

.border{

    width: 100%;
    height: 5dvh;
    background-color: darkgray;
    border-radius: 10px;

}

#pesv{

    height: 2.5vw;
    width: 100vh;
    border-radius: 20px;
    margin-left: 30vh;
}

#enviar{

    margin-top: 50vh;
    background-color: rgb(28, 144, 221);
    border-color: rgb(28, 144, 221);
    border-radius: 30px;
    height: 45px;
    width: 25vh;

}

#meuVideo{

    margin-left: 50vh;

}
#iphone14{

    text-align: center;

}